body {
  background-color: #FFFFFF;
}

.VsLayout {
  width: 1024px;
  height: 768px;

  display: grid;
  grid:
    ". VsPlayer01Box ." 130px
    ". VSTextBox ." 130px
    ". VsPlayer02Box ." 130px
    / 30% 60% 30%;
  gap: 8px;

  overflow-wrap: break-word;
  white-space: nowrap;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.VsPlayer01Box { grid-area: VsPlayer01Box;
                font-family: 'Oswald', sans-serif;
                font-size: 100px;
                font-weight: bold;
                color: #414042;
               }


.VSTextBox { grid-area: VSTextBox;
            font-family: 'Oswald', sans-serif;
            font-size: 80px;
            color: #EF4123;
           }

.VsPlayer02Box { grid-area: VsPlayer02Box;
                font-family: 'Oswald', sans-serif;
                font-size: 100px;
                font-weight: bold;
                color: #414042;
               }



.LeaderboardText {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  
}

.LeaderboardRank-0 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #EF4123
}

.LeaderboardRank-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #414042
}

.LeaderboardRank-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #999999
}

.LeaderboardSpacing {
  width: 1024px;
  height: 75px;

  display: grid;
  grid:
    "LdrBrdNameBox LdrBrdScoreBox LdrBrdSpacer" 80px
    / auto 100px 200px;
  gap: 8px;

  justify-content: end;
  align-content: start;
  justify-items: end;
  align-items: end;
}

.LdrBrdNameBox { grid-area: LdrBrdNameBox; }
.LdrBrdScoreBox { grid-area: LdrBrdScoreBox; }
.LdrBrdSpacer { grid-area: LdrBrdSpacer; }




.LeaderboardNumbers {
  font-family: 'Oswald', sans-serif;
  color: #3a3a3a;
  font-size: 35px;
  font-weight: bold;
}

.LeaderboardSymbols {
  color: #00FF00;
  font-size: 100px;
  font-weight: bold;
}
